*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: start;
    color: rgba(255, 255, 255, 0.767);
    overflow: hidden;
    font-weight: 400;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5%;
}

.container{
    width: 100%;
    height: 100vh;
    background-color: #3867D6;
    padding: 4%;
}

.input-text{
    margin-top: 2vh;
    width: 100%;
    height: 75%;
    background-color: #3867D6;
    border: 2px solid rgb(78, 77, 77);
    border-radius: 5px;
}

.output-text{
    margin-top: 2vh;
    width: 90%;
    height: 90%;
    background-color: #464646;
    border: 2px solid rgb(78, 77, 77);
    border-radius: 5px;
    font-size: 1.3rem;
    box-shadow: 4px 4px 15px 0px #000000a2;
}